{% extends layout %}
    {% set breadcrumbsModelName = 'model.'~modelName~'.modelName' %}
    {% set breadcrumbs = {'name': breadcrumbsModelName|trans, 'min': 'crud.base.list'|trans } %}
{% block content %}

    {% set limit = global.request.query.get('limit', 10) %}

    <div class="btn-block">
        <form method="post" action="{{ url(modelName ~ ".create") }}">
            <button class="btn btn-block btn-primary"
                    type="submit">{{ 'crud.base.create'|trans }} {{ 'model.user.creating'|trans  }}</button>
        </form>
    </div>
    <br>

    <div class="box">
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="example1_length">
                            <label>{{ 'crud.base.show'|trans }}
                                <select name="example1_length" aria-controls="example1"
                                        onchange="changeUrl({'limit': event.target.value}, true)"
                                        class="form-control input-sm">
                                    {% for item in [10, 20, 50, 100] %}
                                        <option {% if item == limit %} selected {% endif %} >{{ item }}</option>
                                    {% endfor %}
                                </select>
                                {{ 'crud.base.entries'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="example1_filter" class="dataTables_filter">
                            <div class="row">
                                <div class="col-xs-9">
                                    <input placeholder="{{ 'crud.base.search-placeholder'|trans }}" type="search"
                                           id="search-input"
                                           style="width: 100%;"
                                           value="{% if global.request.query.search is defined %} {{ global.request.query.search }}  {% endif %}"
                                           class="form-control input-sm" name="search">
                                </div>
                                <div class="col-xs-3">
                                    <button onclick="search({{ limit }})" id="search-bottom"
                                            class="btn btn-block btn-danger"
                                            type="submit">{{ 'crud.base.search'|trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                            <tr role="row">
                                <th  tabindex="0" aria-controls="example1" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending"
                                    style="width: 181px;">#
                                </th>
                                <th  tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending"
                                    style="width: 154px;">{{ 'model.user.first_name'|trans }}
                                </th>
                                <th  tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending"
                                    style="width: 154px;">{{ 'model.user.middle_name'|trans }}
                                </th>
                                <th  tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending"
                                    style="width: 154px;">{{ 'model.user.last_name'|trans }}
                                </th>
                                <th  tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending"
                                    style="width: 154px;">{{ 'model.user.email'|trans }}
                                </th>
                                <th  tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">
                                </th>
                                <th  tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">
                                </th>
                                <th  tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending" style="width: 112px;">
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in data.pager.data %}
                                <tr role="row" class="odd">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.first_name|default('') }}</td>
                                    <td>{{ item.middle_name|default('') }}</td>
                                    <td>{{ item.last_name|default('') }}</td>
                                    <td>{{ item.email|default('') }}</td>
                                    <td>
                                        <a href="{{ url(modelName ~ ".view", {'id': item._id}) }}"
                                           class="btn btn-block btn-success">{{ 'crud.base.view'|trans }}</a>
                                    </td>
                                    <td>
                                        <form method="post" action="{{ url(modelName ~ ".update", {'id': item._id}) }}">
                                            <input type="hidden" id="_method" name="_method" value="PUT"/>
                                            <button class="btn btn-block btn-danger"
                                                    type="submit">{{ 'crud.base.update'|trans }}</button>
                                        </form>
                                    </td>
                                    <td>
                                        <button data-url="{{ url(modelName ~ ".delete", {'id': item._id}) }}" class="btn btn-block btn-danger remove remove-show-modal" type="submit">{{ 'crud.base.delete'|trans }}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr role="row" class="odd">
                                {% if not data.pager.total %}
                                    <td></td>
                                    <td></td>
                                    <td>{{ 'crud.base.record_not_found'|trans }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <ul class="pagination">

                                <li class="paginate_button previous {% if data.pager.prev_page_url is null %} disabled {% endif %}">
                                    <a class="{% if data.pager.prev_page_url is null %}  disabled {% endif %} btn-primary"
                                       href="{{ data.pager.prev_page_url }}">{{ 'crud.base.previous'|trans }}</a>
                                </li>

                                <li class="paginate_button btn-group">
                                    <button type="button"
                                            class="btn btn-primary btn-flat">{{ data.pager.current_page }}</button>
                                    <button type="button" class="btn btn-primary btn-flat dropdown-toggle"
                                            data-toggle="dropdown"><span class="caret"></span><span class="sr-only"> Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        {% for i in 1..data.pager.last_page %}
                                            <li class="{% if data.pager.current_page == i %} {{ 'active' }}  {% endif %}">
                                                <a onclick="changeUrl({current_page: {{ i }}})" href="#">{{ i }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="paginate_button next">
                                    <a class="{% if data.pager.next_page_url is null %}  disabled {% endif %} btn-primary"
                                       href="{{ data.pager.next_page_url }}">{{ 'crud.base.next'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal -->
    {% include 'general/_modal.html.twig' with {'url': data} %}
    <!-- ./ modal -->

    <script src="{{ asset('js/list.js', 'asset') }}" type="text/javascript"></script>

{% endblock %}