{% extends layout %}
  {% set breadcrumbsModelName = 'model.'~modelName~'.modelName' %}
  {% set breadcrumbs = {'name': breadcrumbsModelName|trans, 'min': 'crud.base.update'|trans } %}
{% block content %}
    <div class="row">

        <form enctype="multipart/form-data" action="{{ url(modelName ~ ".update", {'id': data.model._id}) }}"
              method="post">
            <input type="hidden" id="_method" name="_method" value="PUT"/>

            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <div class="kv-avatar center-block text-center" style="width:200px">
                            <input id="avatar-1" name="avatar-1" type="file" class="file-loading">
                            <div class="help-block">
                                <small></small>
                            </div>
                        </div>
                        <ul class="list-group list-group-unbordered"></ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="{% if data.model._scenario == 'update' %} {{ 'active' }} {% else %} {{ '' }} {% endif %}">
                            <a href="#update" data-toggle="tab" aria-expanded="true">Информация профиля</a>
                        </li>
                        <li class="{% if data.model._scenario == 'password_change' %} {{ 'active' }} {% else %} {{ '' }} {% endif %}">
                            <a href="#password_change" data-toggle="tab" aria-expanded="false">Изменить пароль</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane {% if data.model._scenario == 'update' %} {{ 'active' }} {% else %} {{ '' }} {% endif %}"
                             id="update">
                            {% include 'widget/'~modelName~'/_form.html.twig' with {'data': data} %}
                            <button class="btn btn-primary"
                                    type="submit">  {% if data.model._id is defined %} {{ 'crud.base.update'|trans }} {% else %} {{ 'crud.base.save'|trans }}  {% endif %}</button>
        </form>
    </div>

    <div class="tab-pane {% if data.model._scenario == 'password_change' %} {{ 'active' }} {% else %} {{ '' }} {% endif %}"
         id="password_change">
        <form action="{{ url(modelName ~ ".update", {'id': data.model._id}) }}" method="post">
            <input type="hidden" id="_method" name="_method" value="PUT"/>
            {% include 'widget/'~modelName~'/_change-password.html.twig' with {'data': data} %}
            <button class="btn btn-primary"
                    type="submit">  {% if data.model._id is defined %} {{ 'crud.base.update'|trans }} {% else %} {{ 'crud.base.save'|trans }}  {% endif %}</button>
        </form>
    </div>

    </div>
    </div>
    </div>
    </div>


    <script>
        $("#avatar-1").fileinput({
            overwriteInitial: true,
            maxFileSize: 1500,
            showClose: false,
            showCaption: false,
            browseLabel: '',
            removeLabel: '',
            browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
            removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
            removeTitle: 'Cancel or reset changes',
            elErrorContainer: '#kv-avatar-errors-1',
            msgErrorClass: 'alert alert-block alert-danger',
            defaultPreviewContent: '<img src="{{ data.model.attachment.url|default(asset('img/default/user.jpg', 'asset')) }}" class="profile-user-img img-responsive img-circle" alt="Your Avatar" style="width:160px">',
            layoutTemplates: {main2: '{preview} {remove} {browse}'},
            allowedFileExtensions: ["jpg", "png", "gif"]
        });
    </script>

{% endblock %}
